<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}Search Flights{% endblock %}
{% block index %}{% endblock %}
{% block links_n_scripts %}
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block body_block %}
<div class="jumbotron jumbotron-translucent" style="margin: 65px 0px 45px 0px; border-radius: 0rem!important;">
  <form method="post">
    {% csrf_token %}
    <h1 style="align:center;">Filter</h1>
    <hr>
    <div  style="color: white;align:center;">
    </div>
    <br>
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="col form-group">
          <h6><b>Search Tags:</b></h6>
          <input list="tags" type="search" name="tag_query" autocomplete="off" class="form-control textbox-translucent" placeholder="search tags" >
          <datalist id="tags">
          {% for c in tags %}
          <option value="{{c.name}}">{{c.name}}</option>
          {% endfor %}
          </datalist>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="col form-group">
          <h6><b>Search Platforms:</b></h6>
          <input list="authors" type="search" name="author_query" autocomplete="off" class="form-control textbox-translucent" placeholder="search platforms"  >
          <datalist id="authors">
          {% for c in authors %}
          <option value="{{c.name}}">{{c.name}}</option>
          {% endfor %}
          </datalist>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="col form-group">
          <h6><b>Search Problems:</b></h6>
          <input type="text" name="title_query" autocomplete="off" class="form-control textbox-translucent" placeholder="type problem name" >

        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="col form-group">
          <h6><b>Search Ratings:</b></h6>
          <input  type="text" name="rating_query" autocomplete="off" class="form-control textbox-translucent" placeholder="eg: 100" >

        </div>
      </div>
    </div>
    <div class="col-md text-center">
      <div class="row">
        <div class="col-lg-4 col-sm-4">
          <h5><b>Sort By Rating:</b></h5>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <label><input class="checkbox"  type="radio" value="up" name="rating_sort" ><b style="color: white;font-size: 1.2em;">  Low to High</b></label>
            </div>
            <div class="col-lg-6 col-sm-6">
              <label><input class="checkbox"  type="radio" value="down" name="rating_sort" ><b style="color: white;font-size: 1.2em;">  High to Low</b></label>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
        </div>
      </div>
      <br>
      <button class="btn btn-primary button-translucent" type="submit"><i class="fas fa-search"></i> Search</button>
    </div>
  </form>
</div>
{% if problems %}
  {% if request.method == 'POST' %}
  <h4 style="text-align: center"><b>{{ problems.count }} problems found.</b></h4>
  {% else %}
  <h4 style="text-align: center"><b>{{ problems.count }} available problems.</b></h4>
  {% endif %}
  {% for x in problems %}
    <div class="jumbotron jumbotron-translucent" style="margin: 10px 0px; box-shadow: none;border-radius: 0rem!important;">
      <div class="row">
        <div class="col">
          <h1>
            {{ x.title}}</h1>
            {% for tags in x.tag.all%}
            <h1>{{tags}}</h1>
            {%endfor%}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1>{{ x.description}}</h4>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <h4> {{ x.rating}}</h4>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <h4> <a href="{{x.link}}">{{ x.link}}</a></h4>
        </div>
      </div>
    </div>
  {% endfor %}
{% else %}
  <h1 style="color: #efefef;">NO problems</h1>
{% endif %}
{% endblock %}
