<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block login %}{% endblock %}
{% block links_n_scripts %}
  <style>
    .b1{
      background-color: black;
    }
    .b1:hover{
      background-color: #c91044;
    }
  </style>
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block body_block %}
<div class="row">
  <div class="col-sm" style="margin: 0px auto;">
    <img src="{% static 'images/nitr.jpg' %}" width=450px style="display: block;margin: auto;margin-top: 85px;opacity: 0.5;">
  </div>
  <div class="col-sm">
    <div class="form-group jumbotron jumbotron-translucent" style="margin: 100px 20px 100px 0px;">
      <form action="{% url 'cp_app:user_login' %}" method="post">
        {% csrf_token %}

        <h1 align="center"><b style="color: #c91044;">Login</b></h1>
        <hr>
        <div align="center" style="color: #c91044;">
        Welcome! Login and Practice !.
        </div>
        <br>
        <div>
          <input type="text" name="username" placeholder="Username" class="form-control textbox-translucent">
        </div>
        <br>
        <div>
          <input type="password" name="password" placeholder="Password" class="form-control textbox-translucent">
        </div>
        <br>
        <div class="col-md text-center">
          <button style="color: #c91044;" class="btn btn-lg btn-primary button-translucent b1" type="submit">CONTINUE <i class="fas fa-arrow-circle-right"></i></button>
        </div>
      </form>
      <br>
      <div style="color: white;">
      <small>Not a member yet? Click <a style="color: #c91044;" href="{% url 'cp_app:register' %}">here</a> to register.</small>
      </div>
    </div>
  </div>
</div>
{% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
{% endfor %}
<script>
  $().alert('close')
</script>
{% endblock %}
